html, body {
  font-family: 'DejaVu Serif', 'Liberation Serif';  
  margin:0;
  padding:0;
  height:100%;
  background-image: url("../api/src/img/notebook.png");
  /* Pattern grey_sandbag is downloaded from www.subtlepatterns.com */
  }
  
div#mainContainer {
  min-height:100%;
  position:relative;
  width: 1000px; 
  margin: 0 auto;
  border: dotted 3px;
  border-radius: 5px;
  border-color: whitesmoke;
  }
  
div#mainLogo { 
  /* http://www.forumweb.pl/poczatkujacy-webmaster/tekst-alternatywny-w-css,51325 */
  background-image: url("../api/src/img/logo.png");
  width: 890px; 
  min-height:175px;
  margin: 5px;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto
  }
  
div#newBook {
  border: dotted 3px;
  border-radius: 5px;
  border-color: #F50057;
  margin: 3px;
  }
  
.displayBook {
  border: dotted 3px;
  border-radius: 5px;
  border-color: grey;
  margin: 3px;
  }